<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Quiz</title>
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css"/>
  <link rel="stylesheet" href="/stylesheets/wide.css" type="text/css"
    media="only screen and (min-width: 530px) and (min-device-width: 481px)"/>
  <link rel="stylesheet" href="/stylesheets/smartphone.css" type="text/css"
    media="only screen and (max-width: 480px)" />
</head>
<body>
  <div id="info_autor">
    <img src="/images/yo.png"/><br>
    <h4>Javier Neria Tovar</h4>
    <p>Soy estudiante de Ingeniería en software, y me encanta programar.</p>
    <p>
      Esta aplicación la hice como parte del curso
      &quot;Desarrollo de servicios en la nube con HTML5, Javascript y node.js&quot;
      de la plataforma MiriadaX.
    </p>
  </div>
</body>
</html>
