* { margin: 0; padding: 0; }
body { font: 16px "Georgia", sans-serif; }

#page-wrap { margin: 2% auto; color: white; }
#page-wrap > .main { border: 1px solid #999; padding: 1%;
                      margin-bottom: 1px; color: black; }
.info_autor{ text-align: center; }

section > div { padding: 20px; }
header, nav, section { text-align: center; color: #f5f5f5; }
header, nav {  background: #326ada; }
section { background: #eee; }
footer { background: #444444; text-align: center; color: #d2d2d2; }
nav span { margin: 0px 10px 0px 0px; }
#ErrorMsgs { color: #800000; font-size: smaler}

a {
  color: #00B7FF;
}
