body { background: #999; }

nav { float: left; width: 10%; height: 500px; }
nav span { margin: 0px 100px 0px 0px; }
section { float: right; width: 85%; height: 500px; }
footer { clear: both; display: block; }
