<select name="quiz[categoria]">
  <option value=""></option>
  <option value="Ciencia">Ciencia</option>
  <option value="Humanidades">Humanidades</option>
  <option value="Ocio">Ocio</option>
  <option value="Tecnologia">Tecnología</option>
  <option value="Otro">Otro</option>
</select>
